*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --grey-100: hsl(0, 0%, 0%);
  --grey-90: hsl(0, 0%, 6%);
  --grey-80: hsl(0, 0%, 12%);
  --grey-70: hsl(0, 0%, 24%);
  --grey-60: hsl(0, 0%, 36%);
  --grey-50: hsl(0, 0%, 48%);
  --grey-40: hsl(0, 0%, 60%);
  --grey-30: hsl(0, 0%, 72%);
  --grey-20: hsl(0, 0%, 84%);
  --grey-10: hsl(0, 0%, 96%);
  --grey-0: hsl(0, 0%, 100%);
  --overlay-white-10: hsla(0, 0%, 100%, 0.06);
  --overlay-white-20: hsla(0, 0%, 100%, 0.12);
  --overlay-white-30: hsla(0, 0%, 100%, 0.24);
  --overlay-white-40: hsla(0, 0%, 100%, 0.36);
  --overlay-white-50: hsla(0, 0%, 100%, 0.48);
  --overlay-black-10: hsla(0, 0%, 0%, 0.06);
  --overlay-black-20: hsla(0, 0%, 0%, 0.12);
  --overlay-black-30: hsla(0, 0%, 0%, 0.24);
  --overlay-black-40: hsla(0, 0%, 0%, 0.36);
  --overlay-black-50: hsla(0, 0%, 0%, 0.48);
  --overlay-bg: var(--overlay-black-50);
  /* primary foundation */
  --primary-hue: 216;
  /* secondary foundation */
  --secondary-hue: 0;
  /* Light theme alias variables: These variables are used to define the color scheme for the light theme of the application. */
  --bg-color-100-light: var(--grey-0);
  --bg-color-90-light: var(--grey-10);
  --bg-color-invert-light: var(--grey-100);
  --text-color-100-light: var(--grey-100);
  --text-color-90-light: var(--grey-80);
  --text-color-80-light: var(--grey-70);
  --text-color-70-light: var(--grey-50);
  --text-color-invert-light: var(--grey-0);
  --overlay-color-10-light: var(--overlay-black-10);
  --overlay-color-20-light: var(--overlay-black-20);
  --overlay-color-30-light: var(--overlay-black-30);
  --overlay-color-40-light: var(--overlay-black-40);
  --overlay-color-50-light: var(--overlay-black-50);
  --border-color-10-light: var(--overlay-black-10);
  --border-color-20-light: var(--overlay-black-20);
  --border-color-30-light: var(--overlay-black-30);
  /* Dark theme alias variables are used to define colors for the dark mode of the website */
  --bg-color-100-dark: var(--grey-90);
  --bg-color-90-dark: var(--grey-80);
  --bg-color-invert-dark: var(--grey-0);
  --text-color-100-dark: var(--grey-0);
  --text-color-90-dark: var(--grey-20);
  --text-color-80-dark: var(--grey-30);
  --text-color-70-dark: var(--grey-50);
  --text-color-invert-dark: var(--grey-100);
  --overlay-color-10-dark: var(--overlay-white-10);
  --overlay-color-20-dark: var(--overlay-white-20);
  --overlay-color-30-dark: var(--overlay-white-30);
  --overlay-color-40-dark: var(--overlay-white-40);
  --overlay-color-50-dark: var(--overlay-white-50);
  --border-color-10-dark: var(--overlay-white-10);
  --border-color-20-dark: var(--overlay-white-20);
  --border-color-30-dark: var(--overlay-white-30);
  /* setting defaults */
  color-scheme: light;
  --bg-color-100: var(--bg-color-100-light);
  --bg-color-90: var(--bg-color-90-light);
  --bg-color-invert: var(--bg-color-invert-light);
  --text-color-100: var(--text-color-100-light);
  --text-color-90: var(--text-color-90-light);
  --text-color-80: var(--text-color-80-light);
  --text-color-70: var(--text-color-70-light);
  --text-color-invert: var(--text-color-invert-light);
  --overlay-color-10: var(--overlay-color-10-light);
  --overlay-color-20: var(--overlay-color-20-light);
  --overlay-color-30: var(--overlay-color-30-light);
  --overlay-color-40: var(--overlay-color-40-light);
  --overlay-color-50: var(--overlay-color-50-light);
  --border-color-10: var(--border-color-10-light);
  --border-color-20: var(--border-color-20-light);
  --border-color-30: var(--border-color-30-light);
  /* Shiny CTA */
  --shiny-cta-bg: var(--bg-color-invert);
  --shiny-cta-border-subtle: var(--border-color-20);
  --shiny-cta-text: var(--text-color-invert);
  --shiny-cta-highlight: hsl(0, 0%, 40%);
  --shiny-cta-highlight-subtle: hsl(0, 0%, 76%);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bg-color-100: var(--bg-color-100-light);
    --bg-color-90: var(--bg-color-90-light);
    --bg-color-invert: var(--bg-color-invert-light);
    --text-color-100: var(--text-color-100-light);
    --text-color-90: var(--text-color-90-light);
    --text-color-80: var(--text-color-80-light);
    --text-color-70: var(--text-color-70-light);
    --text-color-invert: var(--text-color-invert-light);
    --overlay-color-10: var(--overlay-color-10-light);
    --overlay-color-20: var(--overlay-color-20-light);
    --overlay-color-30: var(--overlay-color-30-light);
    --overlay-color-40: var(--overlay-color-40-light);
    --overlay-color-50: var(--overlay-color-50-light);
    --border-color-10: var(--border-color-10-light);
    --border-color-20: var(--border-color-20-light);
    --border-color-30: var(--border-color-30-light);
  }
}
/* This block defines the color variables for the light theme */
[color-scheme=light] {
  color-scheme: light;
  --bg-color-100: var(--bg-color-100-light);
  --bg-color-90: var(--bg-color-90-light);
  --bg-color-invert: var(--bg-color-invert-light);
  --text-color-100: var(--text-color-100-light);
  --text-color-90: var(--text-color-90-light);
  --text-color-80: var(--text-color-80-light);
  --text-color-70: var(--text-color-70-light);
  --text-color-invert: var(--text-color-invert-light);
  --overlay-color-10: var(--overlay-color-10-light);
  --overlay-color-20: var(--overlay-color-20-light);
  --overlay-color-30: var(--overlay-color-30-light);
  --overlay-color-40: var(--overlay-color-40-light);
  --overlay-color-50: var(--overlay-color-50-light);
  --border-color-10: var(--border-color-10-light);
  --border-color-20: var(--border-color-20-light);
  --border-color-30: var(--border-color-30-light);
}

/* This block defines the color variables for the dark theme */
[color-scheme=dark] {
  color-scheme: dark;
  --bg-color-100: var(--bg-color-100-dark);
  --bg-color-90: var(--bg-color-90-dark);
  --bg-color-invert: var(--bg-color-invert-dark);
  --text-color-100: var(--text-color-100-dark);
  --text-color-90: var(--text-color-90-dark);
  --text-color-80: var(--text-color-80-dark);
  --text-color-70: var(--text-color-70-dark);
  --text-color-invert: var(--text-color-invert-dark);
  --overlay-color-10: var(--overlay-color-10-dark);
  --overlay-color-20: var(--overlay-color-20-dark);
  --overlay-color-30: var(--overlay-color-30-dark);
  --overlay-color-40: var(--overlay-color-40-dark);
  --overlay-color-50: var(--overlay-color-50-dark);
  --border-color-10: var(--border-color-10-dark);
  --border-color-20: var(--border-color-20-dark);
  --border-color-30: var(--border-color-30-dark);
}

/* The .d-flex class is used to apply flexbox layout to an element */
.d-flex {
  display: flex;
}

/* The .d-grid class is used to apply a CSS Grid layout to an element */
.d-grid {
  display: grid;
}

/* The .container class is used to center the content and set a maximum width */
.container {
  max-width: 64rem;
  margin: 0 auto;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.brand > img {
  height: 3rem;
  border-radius: 0.5rem;
}
.brand > p {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color-100);
}

.header {
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav {
  order: 2;
  margin-left: auto;
  /*close icon*/
}
.nav__toggler {
  position: relative;
  padding: 0.5rem;
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
  outline: none;
}
.nav__toggler--line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #222;
  /*from hamburger to cross*/
  transition: 0.4s;
}
.nav__toggler--line:first-child {
  margin-top: unset;
}
.nav__cross .nav__toggler--line:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.nav__cross .nav__toggler--line:nth-child(2) {
  opacity: 0;
}
.nav__cross .nav__toggler--line:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -5px);
}
.nav__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  display: grid;
  padding-top: 6.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--bg-color-100);
  will-change: transform;
  transition: transform 0.48s ease-in-out;
  transform: translateY(-100%);
}
.nav__active {
  transform: translateY(0%);
}
.nav__list {
  display: flex;
  flex-direction: column;
}
.nav__list--item {
  list-style: none;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
}
.nav__list--item > a {
  text-decoration: none;
  width: 100%;
  color: var(--text-color-80);
  padding: 0.25rem 1.5rem;
}
.nav__list--item > a:hover {
  background-color: var(--overlay-color-10);
}

.btn {
  border: none;
}
.btn-group {
  display: flex;
  gap: 0.5rem;
}
.btn__CTA {
  display: flex;
  gap: 0.5rem;
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-text);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg)) padding-box, conic-gradient(from calc(var(--gradient-angle) - var(--gradient-angle-offset)), transparent, var(--shiny-cta-highlight) var(--gradient-percent), var(--gradient-shine) calc(var(--gradient-percent) * 2), var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3), transparent calc(var(--gradient-percent) * 4)) border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-border-subtle);
  width: -moz-fit-content;
  width: fit-content;
}
.btn__CTA > span {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.btn__CTA::before, .btn__CTA::after,
.btn__CTA span::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  translate: -50% -50%;
  z-index: -1;
}
.btn__CTA:active {
  translate: 0 1px;
}
.btn__contact, .btn__read-more {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  color: var(--text-color-100);
  font-size: 1rem;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  border: 2px solid var(--text-color-80);
  border-radius: 10rem;
  background-color: transparent;
  transition: background-color 0.48s ease-in-out, color 0.48s ease-in-out;
}
.btn__contact:hover, .btn__read-more:hover {
  background-color: var(--bg-color-invert);
  color: var(--text-color-invert);
}
.btn__read-more {
  margin-top: 0.5rem;
}

.area {
  width: 100%;
  height: 100dvh;
  position: fixed;
  inset: 0;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--overlay-color-10);
  animation: animate 12s linear infinite;
  bottom: -6rem;
  border-radius: 12%;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 6rem;
  height: 6rem;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 1rem;
  height: 1rem;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 1.25rem;
  height: 1.25rem;
  animation-delay: 2s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 1.25rem;
  height: 1.25rem;
  animation-delay: 1s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 9rem;
  height: 9rem;
  animation-delay: 2s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 12rem;
  height: 12rem;
  animation-delay: 1s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  animation-delay: 2s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 1rem;
  height: 1rem;
  animation-delay: 1s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 12rem;
  height: 12rem;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}
.hero__content {
  height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  justify-content: center;
  gap: 1.5rem;
}
.hero__content--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
}
.hero__title {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--text-color-100);
}
.hero__highlight {
  color: #5f14e1;
}
.hero__subtext {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--text-color-80);
}
.hero-work__content {
  height: calc(40vh - 5rem);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: center;
  gap: 1.5rem;
}
.hero-work__content--main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  gap: 0.5rem;
}
.hero-work__title {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--text-color-100);
}

/* Shiny CTA */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}
@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}
/* Dots pattern */
.btn__CTA::before {
  --size: calc(100% - var(--shadow-size) * 0.25);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle at var(--position) var(--position), var(--text-color-invert) calc(var(--position) / 4), transparent 0) padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  -webkit-mask-image: conic-gradient(from calc(var(--gradient-angle) + 45deg), black, transparent 10% 90%, black);
          mask-image: conic-gradient(from calc(var(--gradient-angle) + 45deg), black, transparent 10% 90%, black);
  border-radius: inherit;
  opacity: 0.4;
  z-index: -1;
}

/* Inner shimmer */
.btn__CTA::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(-50deg, transparent, var(--shiny-cta-highlight), transparent);
  -webkit-mask-image: radial-gradient(circle at bottom, transparent 40%, rgb(0, 0, 0));
          mask-image: radial-gradient(circle at bottom, transparent 40%, rgb(0, 0, 0));
  opacity: 0.6;
}

.btn__CTA span {
  z-index: 1;
}
.btn__CTA span::before {
  --size: calc(100% + 1rem);
  width: var(--size);
  height: var(--size);
  box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
  opacity: 0;
}

/* Animate */
.btn__CTA {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent, --gradient-shine;
}
.btn__CTA, .btn__CTA::before, .btn__CTA::after {
  animation: var(--animation) var(--duration), var(--animation) calc(var(--duration) / 0.4) reverse paused;
  animation-composition: add;
}
.btn__CTA span::before {
  transition: opacity var(--transition);
  animation: calc(var(--duration) * 1.5) breathe linear infinite;
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);
}
.shiny-cta:is(:hover, :focus-visible), .shiny-cta:is(:hover, :focus-visible)::before, .shiny-cta:is(:hover, :focus-visible)::after {
  animation-play-state: running;
}
.shiny-cta:is(:hover, :focus-visible) span::before {
  opacity: 1;
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}
@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}
@keyframes breathe {
  from, to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}
.industry-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.industry-tags__tag {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  background-color: var(--bg-color-90);
  border-radius: 10rem;
  color: var(--text-color-80);
}
.industry-tags__tag--green {
  background-color: hsl(132, 72%, 78%);
}

.section {
  position: relative;
}
.section__content {
  padding: 1.5rem 1rem;
  display: grid;
  gap: 1.5rem;
}
.section__title {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color-80);
  padding: 0.5rem 1rem;
  background-color: var(--bg-color-90);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10rem;
  text-transform: uppercase;
  margin-left: 1rem;
}
.section__divider {
  width: 100%;
  height: 2px;
  background-color: var(--border-color-10);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.divider__circle {
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--overlay-color-50);
  border-radius: 10rem;
}

.experience__list {
  display: grid;
  gap: 1rem;
}
.experience__item {
  list-style: none;
  display: grid;
  gap: 0.5rem;
}
.experience__company {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.experience__company--img {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--bg-color-90);
  border-radius: 0.5rem;
  display: block;
}
.experience__company--text {
  display: grid;
  gap: 0.25rem;
}
.experience__company--name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: var(--text-color-100);
}
.experience__period {
  color: var(--text-color-70);
  line-height: 1.5rem;
}
.experience__designations {
  display: grid;
  gap: 0.5rem;
}
.experience__designation {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.experience__designation > span {
  display: none;
}
.experience__designation--title {
  color: var(--text-color-90);
}
.experience__designation--period {
  color: var(--text-color-70);
}

.parallax {
  align-content: center;
  align-items: center;
  background-color: var(--bg-color-90);
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 60vh;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.parallax__wrapper {
  will-change: transform;
  opacity: 1;
  transform: none;
  flex: none;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.parallax__img {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  perspective: 1px;
  transform-style: preserve-3d;
}
.parallax__img > img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateZ(-1px) scale(2);
}

.work__list {
  display: grid;
  gap: 2rem;
}
.work__item {
  list-style: none;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.work__item--one {
  background: linear-gradient(90deg, #afedfd 0%, #dbd9f2 100%);
}
.work__item--two {
  background: linear-gradient(90deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.work__item--three {
  background: linear-gradient(90deg, #abecd6 0%, #fbed96 100%);
}
.work__item--four {
  background: linear-gradient(90deg, #dfe9f3 0%, #fff 100%);
}
.work__item--five {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.work__item--six {
  background: linear-gradient(90deg, #fdfcfb 0%, #e2d1c3 100%);
}
.work__item--seven {
  background: linear-gradient(90deg, #b7f5e6 0%, #edd2f9 48%, #bcb4f9 100%);
}
.work__item--eight {
  background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
}
.work__item--nine {
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
.work__item-anchor {
  display: flex;
  flex-direction: column;
}
.work__item-anchor:hover > .work__img-wrapper {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: transform 0.24s ease-in-out;
}
.work__item-text {
  width: 100%;
  align-self: flex-end;
  padding: 1.5rem;
  display: grid;
  gap: 0.5rem;
}
.work__item-company {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color-70);
}
.work__item-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color-100);
}
.work__item-subtext {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color-80);
}
.work__img-wrapper {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.work__img-wrapper > img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  max-height: 24rem;
}

.project-detail__content, .project-background__content {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
}
.project-detail__text, .project-background__text {
  display: grid;
  gap: 0.5rem;
}
.project-detail__title, .project-background__title {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--text-color-100);
}
.project-detail__subtext, .project-background__subtext {
  color: var(--text-color-80);
  font-size: 1rem;
  line-height: 1.5rem;
}
.project-detail__card, .project-background__card {
  display: grid;
  gap: 1.5rem;
  background-color: var(--bg-color-90);
  border-radius: 0.5rem;
}
.project-detail__item, .project-background__item {
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.project-detail__item:nth-child(n+2), .project-background__item:nth-child(n+2) {
  border-top: 1px solid var(--border-color-10);
}
.project-detail__item:last-child, .project-background__item:last-child {
  padding-bottom: unset;
}
.project-detail__item > label, .project-background__item > label {
  color: var(--text-color-80);
}
.project-detail__item > p, .project-background__item > p {
  color: var(--text-color-90);
  font-weight: 500;
  margin-top: 0.25rem;
}
.project-detail__card {
  padding: 1.5rem 1rem;
}
.project-background__cards {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
}
.project-background__card {
  position: relative;
  min-width: 90%;
}
.project-background__img {
  max-height: 18rem;
  position: relative;
  z-index: 1;
}
.project-background__img > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}
.project-background__number {
  font-size: 9rem;
  line-height: 9rem;
  font-weight: 700;
  color: var(--overlay-color-20);
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}
.project-background__description {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color-90);
  padding: 1.5rem 1rem 0 1rem;
}

.footer__content {
  padding: 1rem;
  border-top: 1px solid var(--border-color-10);
  overflow: hidden;
  display: grid;
  gap: 1rem;
}
.footer__mail {
  gap: 0.5rem;
  font-size: 1rem;
}
.footer__mail--hi {
  color: var(--text-color-80);
  white-space: nowrap;
}

.social-link {
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--text-color-90);
  background-color: transparent;
  opacity: 0.8;
}
.social-link:hover {
  opacity: 1;
  transition: opacity 0.24s ease-in-out;
}

@media (min-width: 48rem) {
  .hero__content, .hero-work__content {
    padding: 3rem 1.5rem;
    gap: 1rem;
  }
  .hero__title, .hero-work__title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .hero__subtext, .hero-work__subtext {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .section__content {
    padding: 3rem 1.5rem;
    gap: 2rem;
  }
  .section__title {
    margin-left: 1.5rem;
  }
  .experience__item {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .experience__designation {
    flex-direction: unset;
    align-items: center;
    gap: 0.5rem;
  }
  .experience__designation > span {
    display: block;
  }
  .work__item-anchor {
    flex-direction: unset;
    height: 24rem;
  }
  .work__item-text {
    padding: 2.5rem;
  }
  .work__img-wrapper {
    margin-left: unset;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
  }
  .work__img-wrapper > img {
    width: unset;
    height: 100%;
  }
  .project-detail__content, .project-background__content {
    padding: 3rem 1.5rem;
  }
  .project-detail__text, .project-background__text {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .project-detail__title, .project-background__title {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .project-detail__card, .project-background__card {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .project-detail__card {
    padding: 2rem;
  }
  .project-background__cards {
    gap: 1.5rem;
  }
  .project-background__img {
    max-height: 24rem;
  }
  .project-background__description {
    padding: 2rem 0 2rem 2rem;
  }
  .project-background__number {
    left: 2rem;
    bottom: 2rem;
  }
  .footer__content {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
  .footer__mail {
    gap: 1rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 64rem) {
  .btn__contact {
    margin-left: unset;
  }
  .navbar {
    padding: 1rem 1.5rem;
    justify-content: space-between;
  }
  .nav {
    order: unset;
  }
  .nav__toggler {
    display: none;
  }
  .nav__wrapper {
    position: unset;
    display: block;
    padding: unset;
    background-color: unset;
    height: unset;
    transform: translateY(0);
  }
  .nav__list {
    flex-direction: row;
    gap: 1.5rem;
    position: static;
    background-color: transparent;
    inset: unset;
  }
  .nav__list--item {
    font-size: 1.25rem;
  }
  .nav__list--item > a {
    padding: 0 0.25rem;
    transition: all 0.24s ease-in-out;
  }
  .nav__list--item > a:hover {
    border-bottom: 2px solid var(--text-color-100);
    background-color: unset;
  }
  .hero-work__content {
    padding: 2rem 1.5rem;
    gap: 1rem;
  }
  .hero__title, .hero-work__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}/*# sourceMappingURL=style.css.map */